/* 프로그래머들이 한눈에 기능 파악할 수 있도록
span에 확장 영역이라는 표시를 해둔 것 같다. 그래서 브라우저엔 숨겨두고. */
.blind {
    display: none;
}

div {
    position: relative;
}

/* before
클릭 시 회색 background-color 
absolute 설정하여 div 위치 벗어나지 않게 + (z-index: -1)로 맨뒤 정렬 */

button::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    background-color: lightgray;
    border-radius: 50%;    
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: -1;
}

/* after
세로 삼선 Img 항상 유지 상태 */
button::after {
    background-image: url('./img/html\ _structure.png');
    background-size: 450 203px;
    background-position: -130px -76px;
}

/* button
맨앞에서 submit event 기능 -> 툴팁 열기*/
button {
    /* button은 본래 inline 속성이므로
    inline-block으로 만들어 Width, height 사용 + 컨텐츠 크기만 차지 */
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: lightgray;
    border-radius: 50%;
    padding: 10px;
}
