@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Lato:wght@300;400;700;900&family=Noto+Sans+KR:wght@300;500&display=swap');

:root {
    --main-yellow: #f5ce4f;
    font-family: 'lato', serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.library {
    width: 305px;
    height: 740px;
    background-color: white;
}

header {
    width: 305px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-yellow);
    position: relative;
}

header i {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 18px;
}

header i:last-child {
    left: 270px;
}

.search-bar {
    width: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
}

.search-bar div {
    width: 240px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 1px 15px rgb(242, 240, 240);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


.mini-star {
    font-size: 7px;
}

.search-bar span,
.author-list__info span {
    font-size: 11px;
}

.today-book__author {
    font-size: 14px;
}

header h4 {
    font-size: 18px;
}


main {
    margin-top: 60px;
}

.today-book {
    padding: 0px 15px;
}

.today-book__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-book__cover img {
    width: 100px;
    height: 155px;
    border-radius: 5px;
}

.today-book__info {
    width: 58%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.today-book__title {
    margin: 0px;
}

.fa-star {
    font-size: 10px;
    color: var(--main-yellow);
}

.search-bar span,
.author-info,
.empty-star {
    opacity: 0.2;
}

.today-book__genre {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.today-book__genre span {
    width: 50px;
    height: 20px;
    background-color:#F7F7F7;
    display: block;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    margin-right: 5px;
    padding: 2px 10px;
}

.bookmark {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bookmark i {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: var(--main-yellow);
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    margin-right: 30px;
}

.bookmark div {
    width: 90px;
    height: 25px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
}

.top-adventure h3 {
    padding: 0px 15px;
}

.cover img {
    width: 65px;
    height: 90px;
    border-radius: 10px;
}

.book-list {
    width: 305px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    overflow-x: hidden;
}

.book-list__data {
    margin: 0px 5px 0px 15px;
}

.list__data {
    list-style: none;
}

.popular-author {
    padding-left: 15px;
}

.author-list__cover img {
    width: 120px;
    height: 130px;
    border-radius: 10px;
}

.author-list {
    padding: 0px;
}

.author-list__data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.author-list__info {
    width: 60%;
    height: 130px;
    margin: 0px 10px;
}

.author-list__info h4 {
    margin: 0px 0px 5px;
}

